* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#LeftContainer {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}

#Logo {
  margin-left: 100px;
}

#RightContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 100px;
  gap: 15px;
  width: 50%;
  height: 100%;
}

p {
  cursor: pointer;
}
